body {
    background-color: #f8f9fa;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.disable {
    visibility: hidden;
}

.categories-carousel__container > .hidden {
    display: none;
}

.categories-carousel__container > .inactive {
    opacity: 0.5;
}

.navbar {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-bottom: 50px;
    height: 80px;
}

.navbar-brand {
    font-weight: 700;
    color: #007bff;
}

.navbar-brand:hover {
    color: #0056b3;
}

.nav-link {
    font-weight: 500;
    color: #495057;
}

.nav-link:hover {
    color: #007bff;
}

.btn-link {
    border: none;
    background: none;
    font-weight: 500;
    color: #007bff;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.pagination .page-link {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.pagination .page-item.disabled .page-link {
    background-color: #e9ecef;
    border-color: #ddd;
    color: #6c757d;
}

/**/

.category-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    margin-bottom: 30px;
}

.category-item {
    background-color: #0d6efd;
    color: white;
    border: 1px solid #0d6efd;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    z-index: 50;
}

.category-item:hover {
    background-color: #ffffff;
    color: #0d6efd;
    border: 1px solid #0d6efd;
}

.category-item.active {
    background-color: #ffffff;
    color: #0d6efd;
    border: 1px solid #0d6efd;
}

@media (max-width: 1000px) {
    .category-item {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 600px) {
    .category-item {
        font-size: 12px;
        padding: 6px;
    }
}

.owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.owl-nav > button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #0d6efd;
    cursor: pointer;
    z-index: 100;
    pointer-events: all;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: #0b5dd72a;
    color: white;
    font: inherit;
    border-radius: 8px;
}

.owl-carousel .owl-nav button.owl-next {
    position: relative;
    right: -50px;
}

.owl-carousel .owl-nav button.owl-prev {
    position: relative;
    right: 50px;
}
.owl-nav button:hover {
    color: #0b5ed7;
}

.owl-dots {
    display: none;
}

.like-btn:hover {
    background-color: #dc3545;
    color: #ffffff;
}

.liked {
    background-color: #dc3545;
    color: #ffffff;
}

.post_item:hover {
    cursor: pointer;
}

.profile_image {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
